body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;

}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: midnightblue;
    z-index: -1;

}

#gameInterface {
    display: none;

    position: absolute;
    width: 100%;
    top: 50%;
    color: antiquewhite;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.5);

    z-index: 999;
}

#startScreen{
    display: none;
}

#topRezultat{
    display: none;
}
.containerDesno{
        display: flex;
        justify-content: right;

}
#timeri{
        position: absolute;
        color: aliceblue;
        padding: 10px;
        font-size: 25px;
        z-index: 999;
        margin-right: 40px;


}

.container-time{
        display: flex;
        flex-direction: row;
}

button{
        margin: 5px;
        border-radius: 5px;
        padding: 5px;
        background-color: midnightblue;
        color: antiquewhite;
}
#div-center{
    margin: auto;
    text-align: center;
}

#time, #bestTime{
    padding-top: 25px;
    padding-left: 10px;
}